<h1><%= @kid.name %></h1>
<h2>Gender: <%= @kid.gender %></h2>
<h2>Year: <%= @kid.year %></h2>
<h2>Favorite Sport: <%= @kid.sport %></h2>
<h2>Emergency Contact: <%= @kid.emergency_contact %></h2>

<%= link_to "Edit Camper", edit_kid_path(@kid) %>
